<h1>All the Rides</h1>

<ul>
<% @attractions.each do |attraction| %>
    <% if @user.admin == false %>
        <li><%= link_to "Go on " + attraction.name, attraction_path(attraction) %></li>
    <% else %>
        <li><%= link_to "Show " + attraction.name, attraction_path(attraction) %></li>
    <% end %>
<% end %>
</ul>
<br><br>
<%= link_to "New Attraction", new_attraction_path if @user.admin == true %>